.DS_Store
**/*/__pycache__

DerivedData/
*.xcworkspacedata
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcshareddata
UserInterfaceState.xcuserstate
xcuserdata/

Pods/
build/

.bundle/

.stats/
.logs/
